####  경사하강법 파이썬 구현

In [3]:
from numpy import *
xArr=[[1.,3.],[1.,2.],[1.,1.]]
yArr=[2.,3.,4.]
theta=[3.,4.]
def gradientDescent(xArr,yArr,theta,alpha=0.1):
    xMat=mat(xArr)
    yMat=mat(yArr).T
    maxiter=0
    m=xMat.shape[0]
    theta=mat(theta)
    costFunction=(1/(2*m))*sum(square(dot(xMat,theta.T)-yMat))
    while abs(costFunction)>0.0001 and maxiter<10000:
        gradient=(1/m)*dot((dot(xMat,theta.T)-yMat).T,xMat)
        theta-=alpha*gradient
        costFunction=(1/(2*m))*sum(square(dot(xMat,theta.T)-yMat))
        maxiter+=1
    return theta.T
gradientDescent(xArr,yArr,theta)

matrix([[ 4.96269789],
        [-0.98359074]])

### 경사하강법 텐서플로 구현

In [68]:
import tensorflow as tf
x_train=[1,2,3]
y_train=[1,2,3]

W=tf.Variable(tf.random_normal([1]),name='weight')
b=tf.Variable(tf.random_normal([1]),name='bias')

hypothesis=x_train*W+b 

cost=tf.reduce_mean(tf.square(hypothesis-y_train))
optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.1) ###빨라지고 싶으면 learning_rate을 더크게
train=optimizer.minimize(cost)
X=tf.placeholder(tf.float32,shape=[None])
Y=tf.placeholder(tf.float32,shape=[None])
init=tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    for step in range(2001): ###반복회수 2000번 
        cost_val,W_val,b_val,_=sess.run([cost,W,b,train],feed_dict={X:x_train,Y:y_train}) ###실행되어야 하는걸 계속 구해야한다.
        if step%500 ==0:
            print(cost_val,W_val,b_val)

12.606648 [0.422212] [1.7159424]
1.15581615e-11 [0.9999962] [8.599498e-06]
0.0 [1.] [5.6168147e-08]
0.0 [1.] [5.6168147e-08]
0.0 [1.] [5.6168147e-08]

In [131]:
import pandas as pd
import numpy as np
with open('data.txt') as file:
    reader=iter(file.readlines())
    header=next(reader)
    header=header.split('  ')
    header.remove('\n')
    print(header)
    lines=[]
    for line in reader:
        line=line.split('  ')
        if '\n' in line:
            line.remove('\n')
        lines.append(line)
    df=pd.DataFrame(data=lines,columns=header)

['price', 'house_size', 'lot_size', 'bedrooms', 'bathrooms']

     price house_size lot_size bedrooms bathrooms
0    61500       1250     4700        3       1.5
1    72500       1570     5300        3       1.5
2    78000       1680     5800        4       1.5
3    89000       1830     7100        4       2.5
4    86500       1870     6900        4       2.5
5    89500       1930     6800        4       2.5
6    78500       1750     6500        3       2.5
7    95500       2300     7900        4       2.5
8    96500       2300     7700        4       3.5
9    79500       1950     6400        3       2.5
10   63000       1400     4500        3       1.5
11   76500       1750     6400        3       2.5
12  110000       2400     8300        4       3.5
13  107000       2370     7800        5       3.5
14  132000       3100     8200        5       3.5
15   92500       2100     5900        4       2.5
16  102500       2350     7300        4       3.5
17  149000       4100     9800        5       3.5
18   61000       1400     3900        3       1.5
19   74000       1640     5300        3       1.5

In [140]:
import pandas as pd
import numpy as np
with open('data.txt') as file:
    reader=iter(file.readlines())
    header=next(reader)
    header=header.split(' ')
    header.remove('\n')
    print(header)
    lines=[]
    for line in reader:
        line=line.split(' ')
        if '\n' in line:
            line.remove('\n')
        lines.append(line)
    df=pd.DataFrame(data=lines,columns=header)
df

['price', 'house_size', 'lot_size', 'bedrooms', 'bathrooms']

     price house_size lot_size bedrooms bathrooms
0    61500       1250     4700        3       1.5
1    72500       1570     5300        3       1.5
2    78000       1680     5800        4       1.5
3    89000       1830     7100        4       2.5
4    86500       1870     6900        4       2.5
5    89500       1930     6800        4       2.5
6    78500       1750     6500        3       2.5
7    95500       2300     7900        4       2.5
8    96500       2300     7700        4       3.5
9    79500       1950     6400        3       2.5
10   63000       1400     4500        3       1.5
11   76500       1750     6400        3       2.5
12  110000       2400     8300        4       3.5
13  107000       2370     7800        5       3.5
14  132000       3100     8200        5       3.5
15   92500       2100     5900        4       2.5
16  102500       2350     7300        4       3.5
17  149000       4100     9800        5       3.5
18   61000       1400     3900        3       1.5
19   74000       1640     5300        3       1.5

In [143]:
import pandas as pd
import numpy as np
with open('data.txt') as file:
    reader=iter(file.readlines())
    header=next(reader)
    header=header.split(' ')
    header.remove('\n')
    print(header)
    lines=[]
    for line in reader:
        line=line.split(' ')
        if '\n' in line:
            line.remove('\n')
        lines.append(line)
    df=pd.DataFrame(data=lines,columns=header)
X_train=np.array(df.drop('price',1),dtype=np.float32)
print(X_train.shape)
print(X_train.dtype)
y_train=np.array(df['price'],dtype=np.float32).reshape(-1,1)
y_train=np.vstack(y_train)
print(y_train.shape)
print(y_train.dtype)
W=tf.Variable(tf.random_normal([4,1]),name='weight')
b=tf.Variable(tf.random_normal([1,1]),name='bias')
hypothesis=tf.matmul(X_train,W)+b 
cost=tf.reduce_mean(tf.square(hypothesis-y_train))
optimizer=tf.train.AdamOptimizer(learning_rate=0.01) ###빨라지고 싶으면 learning_rate을 더크게
train=optimizer.minimize(cost)
X=tf.placeholder(tf.float32,shape=[None,4])
Y=tf.placeholder(tf.float32,shape=[None,1])
init=tf.global_variables_initializer()
with tf.Session() as sess:
        sess.run(init)
        for step in range(30000): ###반복회수 30000번 
            cost_val,W_val,b_val,_=sess.run([cost,W,b,train],feed_dict={X:X_train,Y:y_train}) ###실행되어야 하는걸 계속 구해야한다.
            if step%1000==0:
                print(cost_val)

['price', 'house_size', 'lot_size', 'bedrooms', 'bathrooms']
(20, 4)
float32
(20, 1)
float32
8298024000.0
626054850.0
43686520.0
38604596.0
37555930.0
35941210.0
33592984.0
30461190.0
26818508.0
23397612.0
21077662.0
20108860.0
19896012.0
19845376.0
19802718.0
19759414.0
19715730.0
19671974.0
19628190.0
19584514.0
19540898.0
19497356.0
19453898.0
19410544.0
19367276.0
19324082.0
19280976.0
19237980.0
19195056.0
19152230.0

In [144]:
import pandas as pd
import numpy as np
data=pd.read_csv('./data.txt',sep='\s+')
X_train=data.iloc[:,1:].values.astype(np.float32)
y_train=data.iloc[:,0].values.astype(np.float32)
#X_train=X_train/X_train.max(0)
#y_train=y_train/y_train.max()
X_train=(X_train-X_train.mean(0))/X_train.std(0)
y_train=(y_train-y_train.mean())/y_train.std()
W=tf.Variable(tf.random_normal([1,4]),name='weight')
b=tf.Variable(tf.random_normal([1]),name='bias')
hypothesis=tf.matmul(X_train,tf.transpose(W))+b
cost=tf.reduce_mean(tf.square(hypothesis-y_train))
optimizer=tf.train.GradientDescentOptimizer(learning_rate=0.1)
train=optimizer.minimize(cost)
init=tf.global_variables_initializer()
with tf.Session() as sess:
    sess.run(init)
    for step in range(10001):
        cost_val,W_val,b_val,_=sess.run([cost,W,b,train])
        if step%500==0:
            print(cost_val,W_val,b_val)

4.475658 [[-0.3958099   2.5292747  -1.7283714  -0.13167721]] [-0.31609634]
1.0000001 [[-2.8865106e-04  5.5378862e-04  8.8036022e-06 -2.9521511e-04]] [3.2034397e-09]
0.9999998 [[-1.0265959e-07  1.8463234e-07  6.6991146e-09 -9.9456706e-08]] [-7.297224e-09]
0.99999994 [[ 4.3093604e-09 -5.6593663e-10  7.7175522e-10  7.5774120e-10]] [-2.8042422e-08]
0.99999994 [[ 3.9640549e-09 -5.1824345e-10  6.6341688e-10  7.5779338e-10]] [-2.7786228e-08]
0.99999994 [[ 1.3453494e-09 -3.5964403e-09 -1.8292111e-09 -1.9774611e-09]] [-2.81354e-08]
0.99999994 [[ 2.3642768e-09 -2.7858180e-09 -1.0705354e-09 -1.5866513e-09]] [-2.7879206e-08]
0.99999994 [[ 4.2570725e-09 -7.8311690e-10  8.8028329e-10  7.5794859e-10]] [-2.7925704e-08]
0.99999994 [[ 4.2790633e-09 -4.8111493e-10  7.7194717e-10  1.1487590e-09]] [-2.7669499e-08]
0.99999994 [[ 5.1310405e-09 -9.8442543e-10  2.3009994e-10  7.5805284e-10]] [-2.7413316e-08]
0.99999994 [[ 2.9168334e-09 -2.8599487e-09 -1.7206442e-09 -1.9772008e-09]] [-2.7459793e-08]
0.99999994 [[ 1.7968751e-09 -1.9698572e-09 -2.1541151e-09 -1.5863915e-09]] [-2.8111643e-08]
0.99999994 [[ 4.6560800e-09 -5.0756244e-10  4.4696369e-10  7.5820794e-10]] [-2.7552787e-08]
0.99999994 [[ 3.8976848e-09 -4.4927084e-10  9.8888486e-10  7.5825990e-10]] [-2.7901955e-08]
0.99999994 [[ 4.2926915e-09 -7.5654882e-10  1.2056771e-09  7.5831230e-10]] [-2.794845e-08]
0.99999994 [[ 2.2740561e-09 -2.9499603e-09 -1.6120815e-09 -1.5861834e-09]] [-2.799494e-08]
0.99999994 [[ 2.6108702e-09 -2.5843838e-09 -1.2869107e-09 -1.5861306e-09]] [-2.7738732e-08]
0.99999994 [[ 2.5097946e-09 -2.9976304e-09 -1.5036248e-09 -1.5860777e-09]] [-2.778521e-08]
0.99999994 [[ 2.2894682e-09 -2.5631790e-09 -1.7203384e-09 -1.5860251e-09]] [-2.7831684e-08]
0.99999994 [[ 2.5366051e-09 -2.9552325e-09 -1.0700385e-09 -1.5859724e-09]] [-2.7878158e-08]
0.99999994 [[ 2.8963152e-09 -2.7644937e-09 -1.9370128e-09 -1.5859194e-09]] [-2.731928e-08]

In [112]:
hypothesis

In [159]:
df.std()

price         22588.116927
house_size      651.028336
lot_size       1465.345298
bedrooms          0.716350
bathrooms         0.794719
dtype: float64

In [158]:
df=df.astype(np.float64)

In [154]:
df.dtype=np.float64
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
price         20 non-null object
house_size    20 non-null object
lot_size      20 non-null object
bedrooms      20 non-null object
bathrooms     20 non-null object
dtypes: object(5)
memory usage: 928.0+ bytes

In [81]:
hypothesis.shape

TensorShape([Dimension(20), Dimension(4)])

In [54]:
df

     price house_size lot_size bedrooms bathrooms
0    61500       1250     4700        3       1.5
1    72500       1570     5300        3       1.5
2    78000       1680     5800        4       1.5
3    89000       1830     7100        4       2.5
4    86500       1870     6900        4       2.5
5    89500       1930     6800        4       2.5
6    78500       1750     6500        3       2.5
7    95500       2300     7900        4       2.5
8    96500       2300     7700        4       3.5
9    79500       1950     6400        3       2.5
10   63000       1400     4500        3       1.5
11   76500       1750     6400        3       2.5
12  110000       2400     8300        4       3.5
13  107000       2370     7800        5       3.5
14  132000       3100     8200        5       3.5
15   92500       2100     5900        4       2.5
16  102500       2350     7300        4       3.5
17  149000       4100     9800        5       3.5
18   61000       1400     3900        3       1.5
19   74000       1640     5300        3       1.5

In [135]:
from sklearn.datasets import fetch_california_housing
X_full, y_full = fetch_california_housing(return_X_y=True)
# ~2k samples is enough for the purpose of the example.
# Remove the following two lines for a slower run with different error bars.
X_full = X_full[::10]
y_full = y_full[::10]
n_samples, n_features = X_full.shape

In [174]:
import tensorflow as tf
import pandas as pd
import numpy as np
with open('data.txt') as file:
    reader=iter(file.readlines())
    header=next(reader)
    header=header.split(' ')
    header.remove('\n')
    print(header)
    lines=[]
    for line in reader:
        line=line.split(' ')
        if '\n' in line:
            line.remove('\n')
        lines.append(line)
    df=pd.DataFrame(data=lines,columns=header)
    df=df.astype(np.float64)
y_true=df['price']
y_mean=df['price'].mean()
y_std=df['price'].std()
df=(df-df.mean())/df.std()
def return_y(y):
    return y*y_std+y_mean
X_train=np.array(df.drop('price',1),dtype=np.float32)
print(X_train.shape)
print(X_train.dtype)
y_train=np.array(df['price'],dtype=np.float32).reshape(-1,1)
y_train=np.vstack(y_train)
print(y_train.shape)
print(y_train.dtype)
W=tf.Variable(tf.random_normal([4,1]),name='weight')
b=tf.Variable(tf.random_normal([1,1]),name='bias')
hypothesis=tf.matmul(X_train,W)+b 
cost=tf.reduce_mean(tf.square(hypothesis-y_train))
optimizer=tf.train.AdamOptimizer(learning_rate=0.01) ###빨라지고 싶으면 learning_rate을 더크게
train=optimizer.minimize(cost)
X=tf.placeholder(tf.float32,shape=[None,4])
Y=tf.placeholder(tf.float32,shape=[None,1])
init=tf.global_variables_initializer()
with tf.Session() as sess:
        sess.run(init)
        for step in range(3001): ###반복회수 30000번 
            cost_val,W_val,b_val,_=sess.run([cost,W,b,train],feed_dict={X:X_train,Y:y_train}) ###실행되어야 하는걸 계속 구해야한다.
            if step%300==0:
                print(step,"번 훈련시켰을때 에러",end=" ")
                print(cost_val)
y_hat=return_y(X_train.dot(W_val)+b_val)
y_hat=np.hstack(y_hat)
dic={"훈련을 통해 구한 예측값":y_hat,"실제값":y_true}
print(pd.DataFrame(dic))

['price', 'house_size', 'lot_size', 'bedrooms', 'bathrooms']
(20, 4)
float32
(20, 1)
float32
0 번 훈련시켰을때 에러 2.3796158
300 번 훈련시켰을때 에러 0.0457716
600 번 훈련시켰을때 에러 0.015428168
900 번 훈련시켰을때 에러 0.014899254
1200 번 훈련시켰을때 에러 0.014896159
1500 번 훈련시켰을때 에러 0.01489616
1800 번 훈련시켰을때 에러 0.014896157
2100 번 훈련시켰을때 에러 0.014896157
2400 번 훈련시켰을때 에러 0.014896154
2700 번 훈련시켰을때 에러 0.014896164
3000 번 훈련시켰을때 에러 0.014896157
    훈련을 통해 구한 예측값       실제값
0    61195.046875   61500.0
1    69228.750000   72500.0
2    79189.390625   78000.0
3    87152.398438   89000.0
4    87752.757812   86500.0
5    88947.000000   89500.0
6    77715.453125   78500.0
7    98832.570312   95500.0
8   101239.968750   96500.0
9    82038.945312   79500.0
10   64254.093750   63000.0
11   77568.593750   76500.0
12  104356.281250  110000.0
13  109719.117188  107000.0
14  126623.320312  132000.0
15   91425.085938   92500.0
16  101770.132812  102500.0
17  151324.781250  149000.0
18   63372.953125   61000.0
19   70793.367188   74000.0

In [173]:
y_hat=return_y(X_train.dot(W_val)+b_val)
y_hat=np.hstack(y_hat)
dic={"훈련을 통해 구한 예측값":y_hat,"실제값":y_true}
pd.DataFrame(dic)

    훈련을 통해 구한 예측값       실제값
0    61195.046875   61500.0
1    69228.750000   72500.0
2    79189.382812   78000.0
3    87152.390625   89000.0
4    87752.750000   86500.0
5    88947.000000   89500.0
6    77715.453125   78500.0
7    98832.570312   95500.0
8   101239.968750   96500.0
9    82038.945312   79500.0
10   64254.093750   63000.0
11   77568.593750   76500.0
12  104356.281250  110000.0
13  109719.109375  107000.0
14  126623.320312  132000.0
15   91425.085938   92500.0
16  101770.132812  102500.0
17  151324.781250  149000.0
18   63372.957031   61000.0
19   70793.367188   74000.0

### 부분 집합 구하기 알고리즘

In [220]:
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [221]:
def subset_y(inp):
    outp = []
    for i in inp : 
        outp.append([i])
        
    for j in range(0,len(inp)-2) :
        for i in range(len(inp)-1):
            outp.append(inp[i:i+j+2])
            if i+j+2 == len(inp) : 
                break
            
    outp.append(inp)
    
    return outp

input_true = [1,2,3,4]
output = subset_y(input_true)
print(output)

[[1], [2], [3], [4], [1, 2], [2, 3], [3, 4], [1, 2, 3], [2, 3, 4], [1, 2, 3, 4]]

In [238]:
5<<1

10

In [225]:
Test = [1,2,3,4]

def function(lst):
    n = len(lst)
    finalList = []
    for i in range(1<<n):
        MiddleList = []
        finalList.append(MiddleList)
        print('i=',i)
        for j in range(n): 
            t_f = i & (1 << j)
            if t_f : 
                MiddleList.append(lst[j])
        print('\n')
        
    finalList.pop(0)
    
    print(finalList)
    return finalList


finalList = function(Test)

i= 0


i= 1


i= 2


i= 3


i= 4


i= 5


i= 6


i= 7


i= 8


i= 9


i= 10


i= 11


i= 12


i= 13


i= 14


i= 15


[[1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3], [4], [1, 4], [2, 4], [1, 2, 4], [3, 4], [1, 3, 4], [2, 3, 4], [1, 2, 3, 4]]

In [243]:
t_f = 2 & (1 << 1)
t_f

2

In [218]:
random.sample([1,2,3],2)

[2, 1]

In [219]:
random.shuffle?

In [ ]:
while True:
    answer=random.randint(0,9999)
    answer=list(str(answer))
    test={}
    for i in answer:
        if i not in test:
            test[i]=1
        else:
            test[i]+=1
    if len(test.keys())==4: ####같은 값이 중복되지않는 4자리수 생성
        break

In [210]:

random.randint(0,3)

3

## Mnist DataSet

In [122]:
from tensorflow.examples.tutorials.mnist import input_data
import tensorflow as tf
mnist = input_data.read_data_sets('MNIST_data', one_hot=True)
mnist

Extracting MNIST_data\train-images-idx3-ubyte.gz
Extracting MNIST_data\train-labels-idx1-ubyte.gz
Extracting MNIST_data\t10k-images-idx3-ubyte.gz
Extracting MNIST_data\t10k-labels-idx1-ubyte.gz

tensorflow.contrib.learn.python.learn.datasets.base.Datasets

In [123]:
mnist

Datasets(train=<tensorflow.contrib.learn.python.learn.datasets.mnist.DataSet object at 0x00000000247D0FD0>, validation=<tensorflow.contrib.learn.python.learn.datasets.mnist.DataSet object at 0x0000000004D072E8>, test=<tensorflow.contrib.learn.python.learn.datasets.mnist.DataSet object at 0x0000000021BA5E80>)